/* div {
    -webkit-transition: .3s !important;
    transition: .3s !important;
}
.removed {
    height: 0px;
    -webkit-transition: height 1s !important;
    transition: height 1s !important;
}
header {
    -webkit-transition: .3s !important;
    transition: .3s !important;
} */
